.arrow {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    color: #333;
    cursor: pointer;
    font-size: 2rem;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s;
    user-select: none;
}

.arrow:hover {
    background-color: rgba(200, 200, 200, 0.9);
}

.arrow-left {
    left: 5px;
}

.arrow-right {
    right: 5px;
}

.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.data-info {
    color: #555;
    font-size: 0.9rem;
    margin: 10px 0;
    text-align: center;
}

.display-container {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.image-container {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    flex: 0 0 32.75%;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-container img {
    border-bottom: 2px solid #ddd;
    display: block;
    height: 350px;
    object-fit: cover;
    width: 100%;
}

.image-container:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

.image-display {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding: 15px;
    text-align: center;
}

.image-display img {
    border-radius: 5px;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.image-label {
    background-color: #34495e;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
}

.image-label:hover {
    color: gold;
}

.logo {
    height: auto;
    max-width: 150px;
    position: absolute;
    right: 20px;
    top: 5px;
}

.plot-row {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}

.plot-row-container {
    margin: 0 auto;
    max-width: 1800px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 100%;
}

.promotion-text {
    font-size: 1.2em;
    margin: 30px;
}

.table-container table {
    font-size: 0.9em;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: gold;
}

body {
    background-color: #f9f9f9;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

button {
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    padding: 15px 30px;
}

button:hover {
    background-color: limegreen;
}

footer {
    background-color: #34495e;
    bottom: 0;
    color: white;
    padding: 15px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

form {
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    text-align: center;
}

h2 {
    border-bottom: 3px solid #40b3c6;
    color: #333;
    padding-bottom: 10px;
    padding-left: 10px;
}

header {
    background-color: #34495e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 20px;
    position: relative;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
    margin: 10px 0;
    padding: 15px;
    width: 100%;
}

main {
    background-color: white;
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 40px 10%;
}

nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

p {
    margin: 15px 0;
}

svg {
    shape-rendering: crispEdges;
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
    width: 100%;
}

table caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
}

table td {
    color: #555;
}

table th {
    background-color: #34495e;
    color: white;
}

table th,
table td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

textarea {
    height: 200px;
    resize: vertical;
}